.fruit-container {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );  grid-template-rows: 1fr;
  grid-gap: 10px;
  justify-content: center;
  width: 100%;
  height: 100%;
  .fruit-border {
    width: 100%;
    // margin: 10px;
    // margin: 20px;
    
    img {
      height: 220px;
      width: 220px;
      padding: 10px;

      // border: 2px solid green;

    }

    // .fruit-image {
    //   display: grid;
    //   justify-content: center;
    //   margin: 20px;
    // }
  }
}